html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#container {
    height: 100%;
}
nav {
    background-color: #1c1b21;
    color: white;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
.mainFooterContainer {
    height: 300px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    -webkit-transition: transform .66s ease-in-out;
    -moz-transition: transform .66s ease-in-out;
    -ms-transition: transform .66s ease-in-out;
    -o-transition: transform .66s ease-in-out;
    transition: transform .66s ease-in-out;
}
.footerwrap {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: grab;
    pointer-events: auto;
    height: 240px;
    position: relative;
    bottom: -262px;
}
.footerwrapFix {
    cursor: grab;
    pointer-events: auto;
    height: 240px;
    position: relative;
    bottom: -260px !important;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
.footerheightdefault {
    bottom: -200px;
    position: relative;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
.footerwrapbig {
    -webkit-transition: transform .66s ease-in-out;
    -moz-transition: transform .66s ease-in-out;
    -ms-transition: transform .66s ease-in-out;
    -o-transition: transform .66s ease-in-out;
    transition: transform .66s ease-in-out;
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
    width: 100%;
}
.footercontrols {
    background-color: white;
    cursor: pointer;
    height: 30px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    -webkit-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.23);
}
.unclickable {
    pointer-events: none;
    cursor: default;
}
.flickrfooter {
    cursor: grab;
    pointer-events: auto;
    background-color: lightgray;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    display: table-cell;
    vertical-align: bottom;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.moveUpFix {
    -webkit-transform: translateY(-180px)!important;
    -moz-transform: translateY(-180px) !important;
    -ms-transform: translateY(-180px) !important;
    -o-transform: translateY(-180px) !important;
    transform: translateY(-180px) !important;
}
.flickr-move-down {
    -webkit-transform: translateY(220px);
    -moz-transform: translateY(220px);
    -ms-transform: translateY(220px);
    -o-transform: translateY(220px);
    transform: translateY(220px);
}
.infowndwimg {
    height: 180px;
    bottom: 0px;
    vertical-align: bottom;
    display: inline-block;
}
.nearby {
    padding-left: 10px;
    float: left;
    display: inline;
}
.controlcontainer {
    float: right;
    width: 100px;
}
.closebutton {
    background-color: aqua;
    display: inline;
    cursor: pointer;
}
.list {
    pointer-events: all;
    width: 200px;
    background-color: #3b3b3b;
    height: calc(100% - 80px);
    position: absolute;
    top: 60px;
    color: white;
    padding: 10px;
    line-height: 26px;
    overflow-y: scroll;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
.nonmovingContainer {
    pointer-events: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.maincontainer {
    position: relative;
    pointer-events: all;
    -webkit-box-shadow: -9px 0px 17px -4px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -9px 0px 17px -4px rgba(0, 0, 0, 0.59);
    box-shadow: -9px 0px 17px -4px rgba(0, 0, 0, 0.59);
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
.maincontainer-move {
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -o-transform: translateX(220px);
    transform: translateX(220px);
}
#map {
    height: calc(100% - 60px);
}
#nav {
    background-color: #1c1b21;
    color: white;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
#logo {
    color: pink;
}
#locationtitle {
    color: white
}
#markers {
    margin-top: 20px;
}
#pano {
    width: 250px;
    height: 250px;
}
.dropdownenu {
    background-color: #fe9400;
}
.listitem {
    border-bottom: 1px solid #535258;
    padding: 20px;
}
.listitem:first-child {
    border-top: 1px solid #535258;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
}
a {
    color: white;
    text-decoration: none;
}
select {
    background-color: #fe9400;
    width: 85%;
    color: white;
}
/*hamburgermenu*/
.bar {
    display: block;
    height: 3px;
    width: 40px;
    background-color: #EF8354;
    margin: 8px auto;
}
.button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    vertical-align: middle;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
.move-to-left {
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
}
.nav-right {
    position: absolute;
    left: 20px;
    top: 10px;
}
.nav-right.visible-xs {
    /*    z-index: 1;*/
}
.hidden-xs {
    display: block;
}
.visible-xs {
    display: none;
}
.middle {
    margin: 0 auto;
}
.bar {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.nav-right.visible-xs .active .bar {
    background-color: #FFF;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
.button.active .top {
    -webkit-transform: translateY(13px) rotateZ(45deg);
    -moz-transform: translateY(13px) rotateZ(45deg);
    -ms-transform: translateY(13px) rotateZ(45deg);
    -o-transform: translateY(13px) rotateZ(45deg);
    transform: translateY(13px) rotateZ(45deg);
}
.button.active .bottom {
    -webkit-transform: translateY(-9px) rotateZ(-45deg);
    -moz-transform: translateY(-9px) rotateZ(-45deg);
    -ms-transform: translateY(-9px) rotateZ(-45deg);
    -o-transform: translateY(-9px) rotateZ(-45deg);
    transform: translateY(-9px) rotateZ(-45deg);
}
.button.active .middle {
    width: 0;
}
.ua {
    position: absolute;
    bottom: 20px;
    left: 60px;
}
.fa {
    font-size: 1.4em;
    color: #EF8354;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.ua:hover .fa {
    color: #FFF;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
/*caret open button*/
.caret {
    position: absolute;
    top: 14px;
    right: 58px;
    cursor: pointer;
}
.caret:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 14px solid #efa923;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
.caret:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
/*close button*/
.close {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 30px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 24px;
    width: 3px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.panoTitle {
    color: #1c1b21;
    font-weight: 600;
    margin-bottom: 10px;
}
@media screen and (max-width: 1900px) {
    /* test*/
}
@media screen and (max-width: 825px) {
    /* test*/
}
@media screen and (max-width: 760px) {
    /* test*/
}
@media screen and (max-width: 625px) {
    /* test*/
}
@media screen and (max-width: 425px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 100;
    }
    .footercontrols {
        font-size: 12px;
        font-weight: 500;
        padding-top: 13px;
        white-space: nowrap;
    }
    
    .caret {
    right: 38px;
}
    .close {
 
    right: 10px;
}
    
    .gm-style-iw {
    height: 200px;
}    
}